{% load static %}
<section class="mqh_bsspwi hero-inner-shadow" id="heroSection">
    <div class="py-1 py-lg-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h3 class="hqn_ldqtqy">CORE BUSINESS SOLUTION</h3>
                <H4 class="ekf_dpmwbc">Turning your dreams into reality</H4>

                <!-- Skills -->
                <div class="row py-lg-5 d-flex justify-content-center">
                    <div class="col-8 col-md ayo_ovoxlb justify-content-md-center justify-content-between">
                        <div class="program vgq_ullmml"></div>
                        <p class="vsn_qmvlqq mx-md-2">
                            Programming
                        </p>
                    </div>
                    <div class="col-8 col-md ayo_ovoxlb justify-content-md-center justify-content-between">
                        <div class="design vgq_ullmml"></div>
                        <p class="vsn_qmvlqq mx-md-2">
                            Designing
                        </p>
                    </div>
                    <div class=" col-8 col-md ayo_ovoxlb justify-content-md-center justify-content-between">
                        <div class="bookkeep vgq_ullmml"></div>
                        <p class="vsn_qmvlqq mx-md-2">
                            Bookkeeping
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>