{%load static%}
<section class="sup_kzezbz" id="productContainer">
    <div class="container bie_lnjbae">
        <!-- Feature Header -->
        <div class="pricing-header pt-3 pb-1 pb-md-2 mx-auto text-center">
            <h1 class="display-4 fw-normal">Features</h1>
            <p class="fs-5">Featuring our modern and responsive pages</p>

            <!-- Alert -->
            <div class="alert alert-primary alert-dismissible fade show" role="alert" style="width: 50%; margin: auto;">
                All image displayed were sample only. <strong>CTTO!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <!-- Feature Album -->
        <div class="py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 p-3">

                    <!-- Product Card Section -->
                    {% for card in cards %}
                    {% include 'base/product_card.html' %}
                    {% endfor %}

                    <!-- For Twice display only -->
                    {% for card in cards %}
                    {% include 'base/product_card.html' %}
                    {% endfor %}

                </div>
            </div>
        </div>

        <!-- Feature Bookkeeping -->
        <div class=" container-fluid oiq_wqqnwp">
            <div class="iux_iwuglz d-none d-lg-block"></div>
            <div class=" container col-xxl-10 px-4 py-5 zql_trobsy">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                    <div class="col col-lg-6 gwg_xnucaa">
                        <div id="bookkeeperCarousel" class="carousel slide" data-bs-ride="true" data-bs-touch="true">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#bookkeeperCarousel" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#bookkeeperCarousel" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#bookkeeperCarousel" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#bookkeeperCarousel" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="3000">
                                    <img src="https://picsum.photos/800/600?random=9" class="d-block w-100" alt="...">
                                    <div
                                        class="carousel-caption d-none d-md-block bg-dark bg-gradient p-2 text-light bg-opacity-50">
                                        <h5>Financial Statement</h5>
                                        <p>Setup your financial statement from scratch.</p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="3000">
                                    <img src="https://picsum.photos/800/600?random=10" class="d-block w-100" alt="...">
                                    <div
                                        class="carousel-caption d-none d-md-block bg-dark bg-gradient p-2 text-light bg-opacity-50">
                                        <h5>Excel Expert</h5>
                                        <p>Setup financial position in excel or spreadsheet.</p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="3000">
                                    <img src="https://picsum.photos/800/600?random=11" class="d-block w-100" alt="...">
                                    <div
                                        class="carousel-caption d-none d-md-block bg-dark bg-gradient p-2 text-light bg-opacity-50">
                                        <h5>Tech-savvy</h5>
                                        <p>Knowledgeable in using accounting application such as QBO</p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="3000">
                                    <img src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1115&q=80"
                                        class="d-block w-100" alt="Financial & Accounting Analysis Image">
                                    <div
                                        class="carousel-caption d-none d-md-block bg-dark bg-gradient p-2 text-light bg-opacity-50">
                                        <h5>Financial & Accounting Analysis</h5>
                                        <p>Knowledgeable in using accounting, costing and other Finance and
                                            Accounting tools and methodology.</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#bookkeeperCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#bookkeeperCarousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Accounting made by Expert for Business
                            Aspirant</h1>
                        <p class="lead fw-bold">Handling your business financial and accounting has never
                            been easy.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <button type="button" class="my-button-primary btn-lg px-4 me-md-2">Learn
                                More</button>
                            <!-- <a type="button" class="nav-link dfw_howkny" >Contact Us</a> -->
                            <button type="button" class="my-button-secondary-outline btn-lg px-4" data-bs-toggle="modal"
                                data-bs-target="#contactModal">Book
                                Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>