{%load static%}

<nav class="navbar navbar-expand-lg navbar-dark nav-background fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">LOGO</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
      <form class="d-flex" method="GET" action="{% url 'home' %}">
        <input class="form-control me-2" type="search" placeholder="Search Rooms..." aria-label="Search" name="q">
      </form>

      <div class="text-end">
        {% if request.user.is_authenticated %}
        <div class="nav-user-container">
          <p>Welcome! {{request.user}}</p>
          <a href=" {% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <a href="{% url 'login' %}" type="button" class="btn btn-outline-light me-2">Login</a>
        <a href="{% url 'register' %}" type="button" class="btn btn-warning">Sign-up</a>
        {% endif %}
      </div>
    </div>

  </div>
</nav>