{% extends 'main.html' %}
{% block content %}
<div class="container">
    <h1>{{room.name}}</h1>
    <p>{{room.description}}</p>
    <br>
    <a class="btn btn-secondary btn-sm" role="button" type="button" href="{% url 'update-room' room.id %}">Edit</a>
    <div class="row">
        <div class="col-lg-10">
            <h4>Conversation</h4>
            <hr>
            {%for message in room_messages%}
            <div class="d-flex flex-column">
                <small>@{{message.user}}</small>
                <p>{{message.body}}</p>
                <small> {{message.created | timesince}} ago</small>
                {%if request.user == message.user%}
                <a type="button" class="btn btn-outline-danger btn-sm mt-2" style="width:fit-content;"
                    href="{% url 'delete-message' message.id%}">Delete</a>
                {%endif%}
                <hr>
            </div>
            {%endfor%}

            <!-- Comment Form -->
            {%if request.user.is_authenticated%}
            <div class="">
                <form action="" method="POST">
                    {%csrf_token%}
                    <input type="text" name="body" placeholder="Write your message here..." />
                </form>
            </div>
        </div>
        <div class="col-lg-2">
            <h4>Participants</h4>
            <hr>
            <div class="d-flex flex-column">
                {%for user in participants%}
                <small>@{{user.username}}</small>
                {%endfor%}
            </div>
        </div>
    </div>
    {%endif%}
</div>
{% endblock %}