{% load static %}
<header>
    <div class="px-3 py-2 text-bg-dark home-nav">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="{% url 'home' %}" class="nav-link text-secondary">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'inquiry' %}" class="nav-link text-white">
                            Inquiry
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            Customers
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            Setting
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 mb-3 home-secondary-nav">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
                <input type="search" class="form-control border border-info" placeholder="Search..."
                    aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">Login</button>
                <button type="button" class="btn btn-primary ">Sign-up</button>
            </div>
        </div>
    </div>
</header>